*{
box-sizing: border-box;
margin: 0;
padding: 0;
}


.box {
    width: 55%;
    height: 50%;
    padding: 25px;
    border: 5px solid black;
    margin: 25px;
    background-color: rgb(113, 117, 121);
    background-image: url(mountain.jpeg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50%;
}
h1 {
    font-weight: bold;
    color: blue;
    margin-bottom: 56px;
}
body >h1 >p{
    font-size: 20px;
}
div p{
    font-size: 16px;
}
.fit-img {
  width: 300px;
  height: 200px;
  object-fit: cover;   /* or contain */
}