.box {
  width: 55%;
  border: 5px solid black;
  margin: 25px;
}

.image-box {
  width: 100%;
  aspect-ratio: 1 / 1;        
  background-image: url("mountain.jpeg");
  background-size: cover;
  background-position: center;
  position: relative;
}

.image-box::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
}

.text-overlay {
  position: relative;
  color: white;
  padding: 20px;
  z-index: 1;
}


.text-overlay {
  position: absolute;
  bottom: 0;          
  left: 0;
  width: 100%;
  padding: 20px;
  color: white;
  z-index: 1;
}